<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" />

    <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/select2/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/select2/it.js")"></script>

    <title>We-Code Template</title>

    <script>
        var apiUrl = '@string.Format("{0}://{1}:{2}/api/", Request.Url.Scheme, Request.Url.Host, @System.Configuration.ConfigurationManager.AppSettings["apiUrlPort"])';
    </script>
</head>
<body>

    <!-- Fixed navbar -->
    <header>
        @Html.Partial("_Menu")
    </header>

    <!-- Body -->    
    @RenderBody()
    

    <script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.it.min.js")" type="text/javascript"></script>

</body>
</html>